body { background: url(../img/bg.png) no-repeat center; background-size: cover; }
header { position: relative; height: 700px; text-align: center; }
header h2 { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 9.375em; font-weight: 700; color: #fff; text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }