body { font-family: 'Questrial', sans-serif; }

.container { position: relative; overflow: hidden; line-height: 1.875em; font-size: 0.875em; color: #555; }
a, i { color: #555; }
.img { background: url(../img/img.png) no-repeat; }

/* #bg { width: 100%; height: 100vh; } */
/* #bg { width: 6750px; height: 100vh; background-size: 2250px auto; background: #348cb2 url(../img/bg.jpg) repeat-x bottom left; backface-visibility: hidden; opacity: 0; animation: bg 60s linear infinite, overlay 2s forwards; } */
/* #overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100vh; background-image: url(../img/overlay-pattern.png), url(../img/overlay.svg); background-attachment: fixed, fixed; background-position: top left, center center; background-repeat: repeat, no-repeat; background-size: auto, cover; opacity: 0; animation: overlay 1s 1s forwards; } */
/* @keyframes bg {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-2250px, 0, 0); }
}
@keyframes overlay {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */


header { width: 100%; height: 100vh; text-align: center; }
header > div { position: absolute; top: 30px; font-size: 1.5em; }
header .home { left: 30px; }
header .search { right: 30px; }
header h1 { position: absolute; left: 50%; transform: translateX(-50%); font-size: 5em; font-weight: 700; opacity: 0; animation: down 1.3s forwards }
@keyframes down {
    0% { top: 0; opacity: 0; }
    100% { top: 2em; opacity: 1; }
}

nav { display: flex; justify-content: center; flex-wrap: wrap; position: relative; top: 12em; margin: auto; padding: 50px 100px; opacity: 0; animation: up 1s 1s forwards; }
@keyframes up {
    0% { top: 15em; opacity: 0; }
    100% { top: 12em; opacity: 1; }
}
nav > div { text-align: center; }
nav > div .img { width: 200px; height: 200px; transform: scale(0.6); }
nav > div .menu1 { background-position: 0 0; }
nav > div .menu2 { background-position: -200px 0; }
nav > div .menu3 { background-position: -400px 0; }
nav > div .menu4 { background-position: -600px 0; }
nav > div .menu5 { background-position: -800px 0; }
nav > div .menu6 { background-position: -1000px 0; }
nav > div i { padding: 20px 0; }
nav > div i:hover { width: 50px; height: 50px; background-color: #f1f1ed; border-radius: 50%; box-sizing: border-box; }

section h2 { display: inline-block; margin-bottom: 20px; font-size: 1.3em; font-weight: 900; border-bottom: 3px solid rgba(0,0,0,0.5); }
section h3 { margin: 20px auto; padding: 2px; font-size: 1.7em; font-weight: 400; }
section p { padding: 20px; font-size: 1em; }
#article1, #article2, #article3, #article4, #article5, #article6 { padding: 5%; padding-bottom: 4%; }

#article1 .wrap { height: 350px; }
#article1 .wrap .explain { position: relative; z-index: 10; width: 40%; }
/* #article1 .wrap .batang { position: absolute; left: 0; } */
#article1 .wrap .dotum { position: absolute; right: 0; }
#article1 .wrap .imgWrap { position: relative; }
#article1 .wrap .imgWrap .img { position: absolute; bottom: 0; width: 200px; height: 200px; }
#article1 .wrap .imgWrap .imgBatang1 { right: 0; background-position: 0 -200px; }
#article1 .wrap .imgWrap .imgBatang2 { right: 0; background-position: -200px -200px; }
#article1 .wrap .imgWrap .imgBatang3 { right: 0; background-position: -400px -200px; }
#article1 .wrap .imgWrap .imgBatang4 { right: 0; background-position: -600px -200px; }
#article1 .wrap .imgWrap .imgBatang5 { right: 0; background-position: -800px -200px; }
#article1 .wrap .imgWrap .imgBatang6 { right: 0; background-position: -1000px -200px; }
#article1 .wrap .imgWrap .imgDotum1 { left: 0; background-position: 0 -400px; }
#article1 .wrap .imgWrap .imgDotum2 { left: 0; background-position: -200px -400px; }
#article1 .wrap .imgWrap .imgDotum3 { left: 0; background-position: -400px -400px; }
#article1 .wrap .imgWrap .imgDotum4 { left: 0; background-position: -600px -400px; }
#article1 .wrap .imgWrap .imgDotum5 { left: 0; background-position: -800px -400px; }
#article1 .wrap .imgWrap .imgDotum6 { left: 0; background-position: -1000px -400px; }

#article2 { height: 700px; background: url(../img/concrete.jpg) no-repeat center; background-size: cover; }
#article2 .img { background-image: url(../img/alphabet.png); background-repeat: no-repeat; background-position: center center; }
#article2 .imgStructure { width: 1000px; height: 200px; margin: auto; background-position: 0 -400px; }

#article3 { background: url(../img/bg-grid.png) center center; }

#article4 { padding: 0; background-color: #fff; border-bottom: 1px solid rgba(0,0,0,0.1);}
#article4 > div { padding: 0 5%; text-align: center; background-color: #fafafa; }
#article4 ul { display: flex; justify-content: flex-start; flex-wrap: wrap; background-color: #fff; border-width: 0 1px 0 1px; border-style: solid; border-color: rgba(0,0,0,0.1); }
#article4 ul li { width: 136px; height: 170px; padding: 10px; box-sizing: border-box; }
#article4 ul li h4 { margin-top: 40px; padding-bottom: 10px; font-size: 3.5em; font-weight: 700; color: #777; transition: 0.3s; }
#article4 ul li:hover { background-color: #fafafa; }
#article4 ul li:hover h4 { transform: scale(0.7) translateY(-30px); }
#article4 ul li .detail { display: none; }
#article4 ul li .detail p { position: relative; padding: 0; transform: translateY(-15px); transition: 0.3s; }

#article5 .keyboard { display: flex; justify-content: flex-start; flex-wrap: wrap; }
#article5 .keyboard li { width: 100px; height: 100px; background: url(../img/key.png) no-repeat; transform: scale(0.7); border: 1px solid #ddd; }
#article5 .keyboard li:nth-child(1) { background-position: 0 0; }
#article5 .keyboard li:nth-child(2) { background-position: -100px 0; }
#article5 .keyboard li:nth-child(3) { background-position: -200px 0; }
#article5 .keyboard li:nth-child(4) { background-position: -300px 0; }
#article5 .keyboard li:nth-child(5) { background-position: -400px 0; }
#article5 .keyboard li:nth-child(6) { background-position: -500px 0; }
#article5 .keyboard li:nth-child(7) { background-position: -600px 0; }
#article5 .keyboard li:nth-child(8) { background-position: -700px 0; }
#article5 .keyboard li:nth-child(9) { background-position: -800px 0; }
#article5 .keyboard li:nth-child(10) { background-position: -900px 0; }
#article5 .keyboard li:nth-child(11) { background-position: -1000px 0; }
#article5 .keyboard li:nth-child(12) { background-position: -1100px 0; }
#article5 .keyboard li:nth-child(13) { background-position: 0 -100px; }
#article5 .keyboard li:nth-child(14) { background-position: -100px -100px; }
#article5 .keyboard li:nth-child(15) { background-position: -200px -100px; }
#article5 .keyboard li:nth-child(16) { background-position: -300px -100px; }
#article5 .keyboard li:nth-child(17) { background-position: -400px -100px; }
#article5 .keyboard li:nth-child(18) { background-position: -500px -100px; }
#article5 .keyboard li:nth-child(19) { background-position: -600px -100px; }
#article5 .keyboard li:nth-child(20) { background-position: -700px -100px; }
#article5 .keyboard li:nth-child(21) { background-position: -800px -100px; }
#article5 .keyboard li:nth-child(22) { background-position: -900px -100px; }
#article5 .keyboard li:nth-child(23) { background-position: -1000px -100px; }
#article5 .keyboard li:nth-child(24) { background-position: -1100px -100px; }
#article5 .keyboard li:nth-child(25) { background-position: 0 -200px; }
#article5 .keyboard li:nth-child(26) { background-position: -100px -200px; }
#article5 .keyboard li:nth-child(27) { background-position: -200px -200px; }
#article5 .keyboard li:nth-child(28) { background-position: -300px -200px; }
#article5 .keyboard li:nth-child(29) { background-position: -400px -200px; }
#article5 .keyboard li:nth-child(30) { background-position: -500px -200px; }
#article5 .keyboard li:nth-child(31) { background-position: -600px -200px; }
#article5 .keyboard li:nth-child(32) { background-position: -700px -200px; }
#article5 .keyboard li:nth-child(33) { background-position: -800px -200px; }
#article5 .keyboard li:nth-child(34) { background-position: -900px -200px; }
#article5 .keyboard li:nth-child(35) { background-position: -1000px -200px; }

