// @charset "UTF-8";

$primary: #00afa0;

body { font-family: 'Roboto', sans-serif; }

.container { overflow: hidden; }

header {
    position: relative; z-index: 10; width: 100%; height: 125px; background-color: #fff; transition: 0.3s;
    .headerInner { height: 125px; background-color: #fff; transition: 0.3s; }
    .logo { line-height: 150px; font-size: 50px; font-weight: 900; color: $primary; transition: 0.3s; }
    .max {
        .sign { position: absolute; top: 20px; right: 0; font-size: 13px; }
        ul {
            position: absolute; bottom: 30px; right: 0;
            li {
                float: left; margin-left: 20px;
                a { padding: 10px; color: #333; border-top: 1px solid #333; border-bottom: 1px solid #333; cursor: pointer; }
                a:not(.last):hover { background-color: #eee; }
                i { margin-left: 20px; }
                input { width: 100px; }
            }
        }
    }
    .fa-bars { position: absolute; top: 40px; right: 0; display: none; font-size: 30px; color: $primary; cursor: pointer; }
    .min {
        position: absolute; top: 0; right: 0; z-index: 20; width: 30%; padding: 25px 0 15px; transform: translateX(100%); background-color: rgba(20, 20, 20, 0.8); transition: 0.7s;
        li:first-child { margin-right: 20px; text-align: right; color: #fff; cursor: pointer; }
        li:not(.first):hover { background-color: rgba(20, 20, 20, 0.5); }
        a { padding: 30px 20px; line-height: 40px; color: #fff; }
        i { margin-left: 20px; }
        input { background-color: transparent; }
    }
    .fa-bars { display: none; }
    @media screen and (max-width: 1024px) {
        .fa-bars { display: block; }
        .max { display: none; }
    }
    @media screen and (max-width: 640px) {
        height: 70px; transition: 0.3s;
        .headerInner {
            height: 70px; transition: 0.3s;
            .logo { line-height: 70px; font-size: 30px; transition: 0.3s; }
            .fa-bars { top: 25px; font-size: 20px; }
        }
        .max { display: none; }
        .min { width: 50%; }
    }
}

main {
    width: 100%; text-align: center;
    .grey { display: flex; justify-content: center; background-color: #ddd; }
    .blue { display: flex; justify-content: center; background-color: #108acb; }
    img { min-width: 1140px; margin: auto; }
}

section {
    text-align: center;
    .articleInner { padding: 50px 0; }
    h2 { line-height: 50px; font-size: 45px; font-weight: 700; color: #555; transition: 0.3s; }
    h2::after { content: ''; display: block; width: 50px; margin: 20px auto; border-bottom: 1px solid #555; transition: 0.3s; }
    .article1 {
        .articleInner { padding-top: 0; }
        background-color: #fff;
        .list {
            display: flex; justify-content: space-between; max-width: 700px; margin: auto;
            a, i { line-height: 70px; color: #888; margin-bottom: 10px; cursor: pointer; }
            a:hover { color: $primary; }
        }
        .book {
            display: flex; justify-content: space-between;
            img { width: auto; height: 260px; margin: auto; }
        }
        @media screen and (max-width: 800px) {
            .list {
                max-width: 200px;
                .listLi:not(.first) { display: none; }
            }
        }
    }
    .article2 {
        background-color: #ddd;
        h2::after { margin-bottom: 50px; }
        .item {
            display: flex; justify-content: space-between;
            .info {
                position: relative;
                img { width: 200px; height: auto; border: 5px solid #fff; box-sizing: border-box; box-shadow: 0 0 20px rgba(100, 100, 100, 0.3); }
                button { position: absolute; left: calc(50% - 17px); bottom: 0; transform: translateY(50%); display: inline-block; width: 34px; height: 34px; background-color: #fff; border-radius: 50%; }
            }
        }
        .none { display: none; }
        .none::before { content: ''; display: block; width: 100px; margin: 60px auto 30px; border-top: 1px solid #555; }
    }
    .article3 {
        background-color: #fff;
        h2::after { margin-bottom: 50px; }
        .posLeft {
            display: inline-block; max-width: 300px; vertical-align: top;
            img { max-width: 300px; height: auto; border: 5px solid #fff; box-sizing: border-box; box-shadow: 0 0 20px rgba(100, 100, 100, 0.3); }
            img:not(:first-of-type) { display: none; }
        }
        .posRight {
            display: inline-block; max-width: 540px; margin-top: 1px; margin-left: 10%;
            dl {
                color: #555; text-align: left; border-bottom: 1px solid #aaa;
                dt { padding: 10px; max-width: 540px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; border-top: 1px solid #aaa; box-sizing: border-box; }
                dt:hover { background-color: #eee; }
                dt.on { background-color: #eee; }
                dd { display: none; padding: 10px; line-height: 20px; font-size: 13px; }
            }
        }
        @media screen and (max-width: 640px) {
            .posLeft { margin: auto; }
            .posRight {
                margin-left: 0; width: 300px; margin: auto;
                dl {
                    dt { width: 300px; }
                }
                dl:first-child { margin-top: 25px; }
            }
        }
    }
    @media screen and (max-width: 640px) {
        h2 { font-size: 30px; transition: 0.3s; }
    }
}

footer {
    text-align: center; line-height: 16px; background-color: #333; font-size: 12px; color: #aaa;
    .footerInner { max-width: 960px; padding: 20px 0; }
    h3 { margin-bottom: 25px; font-size: 13px; font-weight: 700; }
    .info {
        display: flex; justify-content: space-between;
        .icon {
            font-size: 25px;
            i { margin: 0 10px; cursor: pointer; }
            i:hover { color: #fff; }
        }
    }
    .address {
        margin-top: 30px;
    }
}

.inner { position: relative; width: 90%; max-width: 1140px; margin: auto; }

header.fixed {
    position: fixed; top: 0; left: 0; height: 80px; box-shadow: 0 0 20px rgba(100, 100, 100, 0.3);
    .headerInner {
        height: 80px;
        .logo { line-height: 80px; }
    }
    @media screen and (max-width: 640px) {
        height: 70px;
        .headerInner {
            height: 70px;
            .logo { line-height: 70px; }
        }
    }
}

