body {
  font-family: 'Roboto', sans-serif; }

.container {
  overflow: hidden; }

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 125px;
  transition: 0.3s; }
  header .headerInner {
    height: 125px;
    transition: 0.3s; }
  header .logo {
    line-height: 150px;
    font-size: 50px;
    font-weight: 900;
    color: #00afa0;
    transition: 0.3s; }
    header .logo .small {
      margin-left: 7px;
      font-size: 0.4em;
      font-weight: 400; }
  header .max .sign {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 13px; }
  header .max ul {
    position: absolute;
    bottom: 30px;
    right: 0; }
    header .max ul li {
      float: left;
      margin-left: 20px; }
      header .max ul li a {
        padding: 10px;
        color: #333;
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        cursor: pointer; }
      header .max ul li a:not(.last):hover {
        background-color: rgba(0, 0, 0, 0.1); }
      header .max ul li i {
        margin-left: 60px; }
      header .max ul li i:last-child {
        margin-left: 20px; }
      header .max ul li input {
        width: 150px;
        background-color: transparent; }
  header .fa-bars {
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
    font-size: 30px;
    color: #00afa0;
    cursor: pointer; }
  header .min {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 30%;
    padding: 25px 0 15px;
    transform: translateX(100%);
    background-color: rgba(20, 20, 20, 0.8);
    transition: 0.7s; }
    header .min li:first-child {
      margin-right: 20px;
      text-align: right;
      color: #fff;
      cursor: pointer; }
    header .min li:not(.first):hover {
      background-color: rgba(20, 20, 20, 0.5); }
    header .min a {
      padding: 30px 20px;
      line-height: 40px;
      color: #fff; }
    header .min i {
      margin-left: 20px; }
    header .min input {
      background-color: transparent; }
  header .fa-bars {
    display: none; }
  @media screen and (max-width: 1024px) {
    header .fa-bars {
      display: block; }
    header .max {
      display: none; } }
  @media screen and (max-width: 640px) {
    header {
      height: 70px;
      transition: 0.3s; }
      header .headerInner {
        height: 70px;
        transition: 0.3s; }
        header .headerInner .logo {
          line-height: 70px;
          font-size: 30px;
          transition: 0.3s; }
        header .headerInner .fa-bars {
          top: 25px;
          font-size: 20px; }
      header .max {
        display: none; }
      header .min {
        width: 50%; } }

main {
  width: 100%; }
  main .bxSlider .grey {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 600px;
    background-color: #ddd; }
  main .bxSlider .blue {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 600px;
    background-color: #108acb; }
  @media screen and (max-width: 640px) {
    main .bxSlider .grey {
      height: 200px; }
    main .bxSlider .blue {
      height: 200px; } }

section {
  text-align: center; }
  section .articleInner {
    padding: 50px 0; }
  section h2 {
    line-height: 50px;
    font-size: 45px;
    font-weight: 700;
    color: #555;
    transition: 0.3s; }
  section h2::after {
    content: '';
    display: block;
    width: 50px;
    margin: 20px auto;
    border-bottom: 1px solid #555;
    transition: 0.3s; }
  section .article1 {
    background-color: #fff; }
    section .article1 .articleInner {
      padding-top: 0; }
    section .article1 .list {
      display: flex;
      justify-content: space-between;
      max-width: 700px;
      margin: auto; }
      section .article1 .list a, section .article1 .list i {
        line-height: 70px;
        color: #888;
        margin-bottom: 10px;
        cursor: pointer; }
      section .article1 .list a:hover {
        color: #00afa0; }
    section .article1 .book {
      display: flex;
      justify-content: space-between; }
      section .article1 .book img {
        width: auto;
        height: 260px;
        margin: auto; }
    @media screen and (max-width: 800px) {
      section .article1 .list {
        max-width: 200px; }
        section .article1 .list .listLi:not(.first) {
          display: none; } }
  section .article2 {
    background-color: #ddd; }
    section .article2 h2::after {
      margin-bottom: 50px; }
    section .article2 .item {
      display: flex;
      justify-content: space-between; }
      section .article2 .item li {
        text-align: left; }
      section .article2 .item li::before {
        display: block;
        font-size: 40px;
        color: #00afa0;
        transform: translate(-22px, 18px); }
      section .article2 .item li:nth-child(1)::before {
        content: '01';
        font-size: 50px;
        transform: translate(-28px, 18px); }
      section .article2 .item li:nth-child(2)::before {
        content: '02'; }
      section .article2 .item li:nth-child(3)::before {
        content: '03'; }
      section .article2 .item li:nth-child(4)::before {
        content: '04'; }
      section .article2 .item li:nth-child(5)::before {
        content: '05'; }
      section .article2 .item h3 {
        position: relative;
        z-index: 10;
        background-color: #ddd;
        padding: 5px;
        font-size: 17px; }
      section .article2 .item .best {
        width: 150px;
        height: 205px;
        margin: 5px;
        border: 1px solid #fff;
        box-sizing: border-box; }
      section .article2 .item .best.first {
        width: 210px;
        height: 287px; }
    section .article2 .none {
      display: none; }
    section .article2 .none::before {
      content: '';
      display: block;
      width: 100px;
      margin: 60px auto 30px;
      border-top: 1px solid #555; }
  section .article3 {
    background-color: #fff; }
    section .article3 h2::after {
      margin-bottom: 50px; }
    section .article3 .posLeft {
      display: inline-block;
      max-width: 300px;
      vertical-align: top; }
      section .article3 .posLeft img {
        max-width: 300px;
        height: auto;
        border: 5px solid #fff;
        box-sizing: border-box;
        box-shadow: 0 0 20px rgba(100, 100, 100, 0.3); }
      section .article3 .posLeft img:not(:first-of-type) {
        display: none; }
    section .article3 .posRight {
      display: inline-block;
      max-width: 540px;
      margin-top: 1px;
      margin-left: 10%; }
      section .article3 .posRight dl {
        color: #555;
        text-align: left;
        border-bottom: 1px solid #aaa; }
        section .article3 .posRight dl dt {
          padding: 10px;
          max-width: 540px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;
          border-top: 1px solid #aaa;
          box-sizing: border-box; }
        section .article3 .posRight dl dt:hover {
          background-color: #eee; }
        section .article3 .posRight dl dt.on {
          background-color: #eee; }
        section .article3 .posRight dl dd {
          display: none;
          padding: 10px;
          line-height: 20px;
          font-size: 13px; }
    @media screen and (max-width: 640px) {
      section .article3 .posLeft {
        margin: auto; }
      section .article3 .posRight {
        margin-left: 0;
        width: 300px;
        margin: auto; }
        section .article3 .posRight dl dt {
          width: 300px; }
        section .article3 .posRight dl:first-child {
          margin-top: 25px; } }
  @media screen and (max-width: 640px) {
    section h2 {
      font-size: 30px;
      transition: 0.3s; } }

footer {
  text-align: center;
  line-height: 16px;
  background-color: #333;
  font-size: 12px;
  color: #aaa; }
  footer .footerInner {
    max-width: 960px;
    padding: 20px 0; }
  footer h3 {
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: 700; }
  footer .info {
    display: flex;
    justify-content: space-between; }
    footer .info .icon {
      font-size: 25px; }
      footer .info .icon i {
        margin: 0 10px;
        cursor: pointer; }
      footer .info .icon i:hover {
        color: #fff; }
  footer .address {
    margin-top: 30px; }

.inner {
  position: relative;
  width: 90%;
  max-width: 1140px;
  margin: auto; }

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  height: 80px;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.3); }
  header.fixed .headerInner {
    height: 80px; }
    header.fixed .headerInner .logo {
      line-height: 80px; }
  @media screen and (max-width: 640px) {
    header.fixed {
      height: 70px; }
      header.fixed .headerInner {
        height: 70px; }
        header.fixed .headerInner .logo {
          line-height: 70px; } }

/*# sourceMappingURL=common.css.map */
