/* common */
body {
	font-family: 'NanumBarunGothic';
}
a {
	color: #181818;
}
@keyframes rollup {
	0% {margin-top: 0;}
	100% {margin-top: -60px;}
}
nav.gnb {
	position: fixed; top: 0;
	width: 100%;
	z-index: 100;
	animation: rollup 0.5s linear 1s forwards;
}
nav.gnb.on {
	animation: rollup 0.5s linear 1s reverse forwards;
}
.gnb_lst {
	overflow: hidden;
	z-index: 50;
}
.gnb_lst li {
	float: left;
	width: calc(100%/4);
	text-align: center;
	background: #1a1a1a;
}
.gnb_lst li a {
	display: block;
	background: url(../images/gnb_bar.gif) no-repeat 0;
	line-height: 60px; height: 60px;
	font-weight: bold;
}
.gnb_lst li a span {
	padding-bottom: 2px;
	color: #fff; font-size: 19px;
}
.gnb_lst .home {
	display: block;
	background: url(../images/home.png) no-repeat bottom;
	width: 25px; height: 18px;
	position: relative; left: 50%;
	transform: translate(-50%,100%);
	text-indent: -999px;
}
.gnb_lst li:hover span:not(.home) {
	border-bottom: 3px solid #fff;
}
.go_home:hover {background: #2db400;}
.go_font:hover {background: #f9da03;}
.go_docu:hover {background: #2d82f7;}
.go_path:hover {background: #35f44e;}
.container {
	margin-top: 60px;
	animation: rollup 0.5s linear 1s forwards;
}
.container.on {
	animation: rollup 0.5s linear 1s reverse forwards;
}
header .btn_gnb {
	background: url(../images/btn_gnb.jpg) no-repeat;
	position: absolute; top: 60px; right: 0;
	width: 90px; height: 90px;
	cursor: pointer;
}
header {
	position: fixed; top: 0;
	width: 100%;
	z-index: 100;
	animation: rollup 0.5s linear 1s forwards;
}
header.on {
	animation: rollup 0.5s linear 1s reverse forwards;
}
.header .logo {
	position: absolute; top: 85px; left: 40px;
	z-index: 30;
}
.header .logo_bg {
	position: absolute; top: 60px; left: 0;
	width: 100%; height: 90px;
	background: rgba(255,255,255,0.9);
}
footer.fx {
	position: fixed; bottom: 30px; left: 0;
}
.fx ul {
	position: absolute; bottom: 0;
	overflow: hidden;
	z-index: 10;
}
.fx p {
	line-height: 17px; font-size: 11px; color: #999;
	padding: 3px 47px;
}
footer.non_fx {
	position: relative;
}
.non_fx ul {
	position: absolute; bottom: 30px; left: 0;
	overflow: hidden;
	z-index: 10;
}
.non_fx p {
	position: absolute; bottom: 30px;
	line-height: 17px; font-size: 11px; color: #999;
	padding: 3px 47px;
}
footer ul li {
	float: left;
	cursor: pointer;
}
footer ul li:not(.ft) {
	display: none;
}
footer img {
	margin-right: 2px;
}
.ft {
	background: url(../images/btn_ft.gif);
	width: 40px; height: 40px;
	margin-right: 2px;
}
.ft:hover {
	background: url(../images/btn_ft_off.gif);
}
.page_lnb {
	position: fixed; top: 0; right: 0;
	width: 90px; height: 100%;
	z-index: 50;
    cursor: pointer;
}
.page_lnb .prev {
	position: absolute; top: 50%; right: 0;
	transform: translateY(-150%);
	background: url(../images/home/nav.png) left bottom;
	width: 90px; height: 100px;
}
.page_lnb .next {
	position: absolute; top: 50%; right: 0;
	transform: translateY(50%);
	background: url(../images/home/nav.png) right bottom;
	width: 90px; height: 100px;
}
.page {
	position: absolute; top: 50%;
	transform: translate(55%,-50%);
	font-size: 12px;
}
.big_tx {
	font-size: 68px; line-height: 95px;
}
.big_tx strong {
	margin-left: -2px;
	padding: 0 9px 5px 0;
	background: #181818;
	font-weight: normal; color: #fff;
}
.color_btn {
	position: relative;
	display: inline-block;
	margin-bottom: 23px;
}
.color_btn > a {
	background: url(../images/docu/color_btn.png) no-repeat 100% 0;
	position: relative;
	padding: 0 76px 6px 0;
	border-bottom: 6px solid #181818;
	cursor: pointer;
	z-index: 10;
}
.color_btn > a:hover {
	background-position: 100% 2px;
}
.hover_bg {
	position: absolute; top: 0; left: 20px;
	width: 105%; height: 60px;
	transition: all 0.5s linear;
	background: none;
}
.tx_type1 {font-size: 14px; line-height: 27px; color: #555;}
.tx_type2 {font-size: 13px; line-height: 20px; color: #333;}
.tx_type3 {font-size: 12px; line-height: 20px; color: #666;}
.top {
	background: url(../images/top.png) no-repeat;
	width: 60px; height: 60px;
	position: fixed; bottom: 20px; right: 20px;
	z-index: 50;
}
.blind {
	visibility: hidden; overflow: hidden;
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	width: 0; height: 0;
	font-size: 0; line-height: 0;
}
.border {
	border: 1px solid #ddd;
	background: #fff;
}


/* home */
.bg {
	width: 100%; height: 100vh;
    position: relative;
    background-size: cover;
}
.bg_img1 {
	background: url(../images/home/image1.jpg) no-repeat center;
}
.bg_img2 {
	background: url(../images/home/image2.jpg) no-repeat center;
}
.bg_img3 {
	background: url(../images/home/image3.jpg) no-repeat center;
}
.main_box {
	width: 500px; height: 500px;
	margin: auto;
	position: absolute; top: 0; bottom: 0; left: 0; right: 0;
	background: #fff;
}
.main_box h2 {
	position: absolute; top: 60px; left: 50px;
	font-size: 63px; font-weight: normal; color: #000;
	line-height: 89px; letter-spacing: -1px; word-spacing: -3px;
}
.main_box h2 > span {
	padding: 0 19px 6px 1px;
	background: #000;
	line-height: 70px;
	font-weight: bold; color: #fff;
}
.main_box p + span {
	position: absolute; bottom: 60px; left: 50px;
	padding-right: 40px;
	background: url(../images/home/arr.png) no-repeat 90%;
	transition: background 0.3s linear;
	font-size: 17px; color: #000;
	cursor: pointer;
}
.main_box:hover p + span {
	background-position: 100%;
}
.main_box p {
	font-size: 13px; line-height: 30px;
}
.box1 p {
	position: absolute; top: 63px; left: 364px;
	color: #0e82e4;
}
.box2 p {
	position: absolute; top: 356px; left: 351px;
	color: #00bdff;
}
.box3 p {
	position: absolute; top: 329px; left: 351px;
	color: #005ac0;
}
sup {
	top: -26px;
	padding-left: 7px;
	letter-spacing: -2px;
}


/* font */
section.nanum {
	width: 100%; height: 100%;
}
.nanum > div {
	width: 100%; height: 100vh;
	position: relative;
	text-align: center;
	overflow: hidden;
}
.nanum > div:first-child {
	margin-top: 60px;
}
.area1 {background: url(../images/font/bg_nanum.jpg) no-repeat center top;}
.area1 .content_tx {
	display: inline-block;
	margin-top: 190px;
}
.area1 .content_tx > li {
	float: left;
	margin: 45px;
	text-align: left;
}
.small_tx {
	position: relative;
	padding-top: 10px;
}
.small_tx p {
	margin-bottom: 40px;
}
.small_tx h4 {
	font-size: 16px; font-weight: normal;
}
.small_tx .small_lst {
	width: 430px;
	display: block;
	margin: 10px 0 40px 0;
	overflow: hidden;
}
.small_tx .small_lst li {
	float: left;
	margin-bottom: 8px;
	height: 20px;
}
.small_tx .small_lst li a {
	background: url(../images/font/ico_arr.png) no-repeat 100%;
	margin: 0 20px 5px 0; padding-right: 13px;
	border-bottom: 1px solid #6a6a6a;
	cursor: pointer;
}
.small_tx .color_btn > a:hover + .hover_bg {
	background: #ffe11c;
}
.small_tx .ps {
	position: relative; z-index: 30;
}
.small_tx .ps + a {
	position: absolute; bottom: 42px; right: 22px;
	padding-right: 15px;
	background: url(../images/font/ico_arr_green.png) no-repeat 100%;
	color: #00d319;
	cursor: pointer;
	z-index: 30;
}
.test_area {
	display: inline-block;
	position: relative;
	overflow: hidden;
	max-width: 1200px;
}

.area2 {background: #00bdff;}
.area2 .test_area {max-height: 380px;}
.area2 .test_area .test {font-size: 110px; color: #fff;}
.area2 .guide_area .color_btn > a:hover + .hover_bg {background: #fff;}

.area3 {background: #25cf57;}
.area3 .test_area {max-height: 380px;}
.area3 .test_area .test {font-size: 110px; color: #fff;}
.area3 .guide_area .color_btn > a:hover + .hover_bg {background: #fff;}

.area4 {background: #fffdf4;}
.area4 .test_area {max-height: 380px;}
.area4 .test_area .test {font-size: 110px; color: #ee1a60;}
.area4 .guide_area .custom a,
.area4 .guide_area .custom a i,
.area4 .guide_area .custom a ~ span {color: #fd487e;}
.area4 .guide_area .custom .v_bar {background: #fd487e;}
.area4 .guide_area .color_btn > a:hover + .hover_bg {background: #fc588b;}

.area5 {background: #d2fff9;}
.area5 .test_area {max-height: 380px;}
.area5 .test_area .test {font-size: 110px; color: #002bb7;}
.area5 .guide_area .custom a,
.area5 .guide_area .custom a i,
.area5 .guide_area .custom a ~ span {color: #1e41d1;}
.area5 .guide_area .custom .v_bar {background: #1e41d1;}
.area5 .guide_area .color_btn > a:hover + .hover_bg {background: #385cf3;}

.area6 {background: #f8f8f8;}
.area6 .test_area {max-height: 380px;}
.area6 .test_area .test {font-size: 110px; color: #181818;}
.area6 .guide_area .custom a,
.area6 .guide_area .custom a i,
.area6 .guide_area .custom a ~ span {color: #0ae724;}
.area6 .guide_area .custom .v_bar {background: #0ae724;}
.area6 .guide_area .color_btn > a:hover + .hover_bg {background: #0ae724;}

.area7 {background: #fbe762;}
.area7 .test_area {max-height: 380px;}
.area7 .test_area .test {font-size: 110px; color: #6826b9;}
.area7 .guide_area .custom a,
.area7 .guide_area .custom a i,
.area7 .guide_area .custom a ~ span {color: #935bd8;}
.area7 .guide_area .custom .v_bar {background: #935bd8;}
.area7 .guide_area .color_btn > a:hover + .hover_bg {background: #935bd8;}

.area8 {background: #f1fffd;}
.area8 .test_area {max-height: 380px;}
.area8 .test_area .test {font-size: 110px; color: #00de1a;}
.area8 .guide_area .custom a,
.area8 .guide_area .custom a i,
.area8 .guide_area .custom a ~ span {color: #0ae724;}
.area8 .guide_area .custom .v_bar {background: #0ae724;}
.area8 .guide_area .color_btn > a:hover + .hover_bg {background: #0ae724;}

.area9 {background: #fbfff1;}
.area9 .test_area {max-height: 380px;}
.area9 .test_area .test {font-size: 110px; color: #ff4200;}
.area9 .guide_area .custom a,
.area9 .guide_area .custom a i,
.area9 .guide_area .custom a ~ span {color: #ff7845;}
.area9 .guide_area .custom .v_bar {background: #ff7845;}
.area9 .guide_area .color_btn > a:hover + .hover_bg {background: #ff7845;}

.v_middle {
	display: table;
	margin: auto;
	height: 700px;
}
.v_middle_in {
	display: table-cell;
	vertical-align: middle;
}
.test_area .alert {
	background: url(../images/font/alert.png) no-repeat;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	width: 231px; height: 99px;
	text-indent: -9999px;
}
.test_area .cursor {
	color: #f9da03;
	animation: pointer 1.2s ease infinite;
}
@keyframes pointer {
	0% {opacity: 0;}
	50% {opacity: 0;}
	70% {opacity: 1;}
	100% {opacity: 1;}
}
.guide_area {
	position: absolute; bottom: 80px; left: 50%;
	transform: translateX(-50%);
	width: 100%;
}
.guide_area .custom {
	margin-bottom: 30px;
	font-size: 14px;
}
.guide_area .custom a {
	cursor: pointer;
}
.guide_area .custom a i {
	padding: 0 19px 0 10px;
}
.guide_area .custom .v_bar {
	display: inline-block;
	margin-right: 20px;
	width: 1px; height: 17px;
	background: #333;
	vertical-align: middle;
}
.guide_area > p {
	margin-bottom: 17px;
}
.guide_area > p + p {
	margin-bottom: 30px;
}


/* docu */
.text {
	width: 685px; margin: 170px auto 100px;
	text-align: left;
}
.text .big_tx + p {
	margin: 15px 0 45px 0;
	font-size: 13px; line-height: 28px;
}
.text .color_btn > a:hover + .hover_bg {
	background: #2d82f7;
}
.docu.lnb {
	margin: 0 70px;
	position: relative;
}
.docu ul {
	height: 30px;
	border-bottom: 7px solid #e5e5e5;
}
.docu ul li {
	float: left;
}
.docu ul li a {
	display: block;
	width: 100px;
	font-size: 19px;
	padding-bottom: 11px;
}
.docu ul li a:first-child {
	width: 170px;
}
.docu ul li a:hover {
	border-bottom: 7px solid #2d82f7;
	color: #2d82f7;
}
.docu ul li a.on {
	border-bottom: 7px solid #2d82f7;
	color: #2d82f7;
}
.down {
	position: absolute; top: -17px; right: 0;
}
.down > div {
	display: inline-block;
	margin-left: 3px;
	padding: 10px 12px;
}
.down > div:nth-child(1) {
	background: #2d82f7;
}
.down > div:nth-child(2) {
	background: #bbb;
}
.down > div a {
	font-size: 14px; color: #fff;
}
.content {
	margin: 0 70px;
	padding: 20px;
	border-bottom: 7px solid #e5e5e5;
}
.select {
	width: 1264px;
	margin: auto;
	overflow: hidden;
}
.slide {
	float: left;
	width: 264px;
	overflow: hidden;
	margin: 25px;
}
.slide ul {
	width: 1056px;
	overflow: hidden;
}
.slide ul li {
	float: left;
	width: 264px; height: 197px;
}
.slide1 li:nth-child(1) {background: url(../images/docu/ppt/1/01.jpg);}
.slide1 li:nth-child(2) {background: url(../images/docu/ppt/1/02.jpg);}
.slide1 li:nth-child(3) {background: url(../images/docu/ppt/1/03.jpg);}
.slide1 li:nth-child(4) {background: url(../images/docu/ppt/1/04.jpg);}

.slide2 li:nth-child(1) {background: url(../images/docu/ppt/2/01.jpg);}
.slide2 li:nth-child(2) {background: url(../images/docu/ppt/2/02.jpg);}
.slide2 li:nth-child(3) {background: url(../images/docu/ppt/2/03.jpg);}
.slide2 li:nth-child(4) {background: url(../images/docu/ppt/2/04.jpg);}

.slide3 li:nth-child(1) {background: url(../images/docu/ppt/3/01.jpg);}
.slide3 li:nth-child(2) {background: url(../images/docu/ppt/3/02.jpg);}
.slide3 li:nth-child(3) {background: url(../images/docu/ppt/3/03.jpg);}
.slide3 li:nth-child(4) {background: url(../images/docu/ppt/3/04.jpg);}

.slide4 li:nth-child(1) {background: url(../images/docu/ppt/4/01.jpg);}
.slide4 li:nth-child(2) {background: url(../images/docu/ppt/4/02.jpg);}
.slide4 li:nth-child(3) {background: url(../images/docu/ppt/4/03.jpg);}
.slide4 li:nth-child(4) {background: url(../images/docu/ppt/4/04.jpg);}

.slide5 li:nth-child(1) {background: url(../images/docu/ppt/5/01.jpg);}
.slide5 li:nth-child(2) {background: url(../images/docu/ppt/5/02.jpg);}
.slide5 li:nth-child(3) {background: url(../images/docu/ppt/5/03.jpg);}
.slide5 li:nth-child(4) {background: url(../images/docu/ppt/5/04.jpg);}

.slide6 li:nth-child(1) {background: url(../images/docu/ppt/6/01.jpg);}
.slide6 li:nth-child(2) {background: url(../images/docu/ppt/6/02.jpg);}
.slide6 li:nth-child(3) {background: url(../images/docu/ppt/6/03.jpg);}
.slide6 li:nth-child(4) {background: url(../images/docu/ppt/6/04.jpg);}

.slide7 li:nth-child(1) {background: url(../images/docu/ppt/7/01.jpg);}
.slide7 li:nth-child(2) {background: url(../images/docu/ppt/7/02.jpg);}
.slide7 li:nth-child(3) {background: url(../images/docu/ppt/7/03.jpg);}

.slide8 li:nth-child(1) {background: url(../images/docu/ppt/8/01.jpg);}
.slide8 li:nth-child(2) {background: url(../images/docu/ppt/8/02.jpg);}

.list_tit {
	padding: 20px 15px 15px;
	font-size: 14px; color: #777;
	position: relative;
}
.list_tit input {
	margin-right: 2px;
	transform: translateY(2px);
}
.list_tit label {
	margin-right: 80px;
}
.list_tit i {
	position: absolute; right: 15px;
}
.ft_right {
	margin: 0 70px;
	position: relative;
	height: 76px;
	z-index: 30;
}
.ft_right .ft_tx > p, p + a, a ~ .ft_btn, .ft_btn a {
	line-height: 17px; font-size: 11px; color: #999;
}
.ft_right .ft_tx {
	position: absolute; top: 20px; right: 0;
}
.ft_right .ft_tx > p, p + a {
	display: inline-block;
}
.ft_right .ft_tx > p + a {
	background: url(../images/docu/ico_arr.png) no-repeat 100%;
	margin-left: 15px; padding-right: 15px;
	color: #00d319;
	cursor: pointer;
}
.ft_right .ft_btn {
	position: absolute; top: 50px; right: 0;
}
.ft_right .ft_btn > div {
	display: inline-block;
	background: #aaa;
	margin-left: 3px;
	padding: 8px 13px;
}
.ft_right .ft_btn > div > a {
	font-size: 13px; color: #fff;
}
.fa-chevron-down {
	margin-left: 10px;
}


/* path */
.path.lnb {
	position: relative;
	margin-top: 150px;
	z-index: 50;
}
.path.lnb .year_bar {
	position: absolute; right: 17px;
	background: url(../images/path/year_bar.gif) repeat-x;
	width: 100%; height: 1px;
	z-index: 70;
}
.path.lnb .year_bar .year {
	position: absolute; right: 0;
	background: url(../images/path/year_bar.gif) no-repeat;
	width: 5px; height: 5px;
	transform: translateY(-50%);
	z-index: 70;
}
.path ul {
	position: fixed; top: 145px; right: 57px; bottom: 10%;
}
.path ul li {
	position: absolute; top: 0;
	color: #777; font-size: 12px;
	cursor: pointer;
	z-index: 10;
}
.path ul li.lst1 {top: 0;}
.path ul li.lst2 {top: 12%;}
.path ul li.lst3 {top: 24%;}
.path ul li.lst4 {top: 36%;}
.path ul li.lst5 {top: 48%;}
.path ul li.lst6 {top: 60%;}
.path ul li.lst7 {top: 72%;}
.path ul li.lst8 {top: 84%;}
.path ul li.lst9 {top: 96%;}
.path ul li.lst10 {top: 108%;}
.history {
	position: relative;
	width: 100%;
	padding: 40px 0 80px;
	overflow: hidden;
}
.history h4 {
	position: absolute; top: 75px; left: 272px;
	font-size: 130px; font-weight: normal; color: #0f0;
	z-index: 10;
}
.history p {
	padding: 10px 18px;
	line-height: 19px;
	font-size: 13px; color: #333;
}
.history p strong {
	margin-bottom: 4px;
	line-height: 32px;
	font-size: 20px; color: #000;
}
.roll {
	width: 240px;
	overflow: hidden;
}
.roll ul {
	width: 720px;
	overflow: hidden;
}
.roll ul li {
	float: left;
	width: 240px; height: 256px;
}
#history_2017 .roll ul li:nth-child(1) {background: url(../images/path/roll1.png);}
#history_2017 .roll ul li:nth-child(2) {background: url(../images/path/roll2.png);}
#history_2017 .roll ul li:nth-child(3) {background: url(../images/path/roll3.png);}

#history_2014 .roll ul li:nth-child(1) {background: url(../images/path/roll6.gif);}
#history_2014 .roll ul li:nth-child(2) {background: url(../images/path/roll7.gif);}

#history_2010 .roll ul li:nth-child(1) {background: url(../images/path/roll9.gif);}
#history_2010 .roll ul li:nth-child(2) {background: url(../images/path/roll10.gif);}

#history_2008 .left .roll ul li:nth-child(1) {background: url(../images/path/roll11.gif);}
#history_2008 .left .roll ul li:nth-child(2) {background: url(../images/path/roll12.gif);}
#history_2008 .left .roll ul li:nth-child(3) {background: url(../images/path/roll13.gif);}

#history_2008 .right .roll ul li:nth-child(1) {background: url(../images/path/roll14.gif);}
#history_2008 .right .roll ul li:nth-child(2) {background: url(../images/path/roll15.gif);}
#history_2008 .right .roll ul li:nth-child(3) {background: url(../images/path/roll16.gif);}

.area {float: left;}
.left {position: relative; right: -370px;}
.right {position: relative; left: 27%;}
.mg_bot {margin-bottom: 20px;}
.mg_top {margin-top: 137px;}